# **Installing PySpark on Google Colab.**

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 14.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=f96d79bc8742388fe285fbedf6e9535c1a98f6e46b629f9c53f49a22a21dd0db
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

# Creating a Spark session

In [3]:
from pyspark.sql import SparkSession# Create a Spark Session
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Starting Spark Session Information

In [4]:
spark

In [5]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

In [ ]:
from pyspark.sql.functions import col

# Installing Java and Hadoop

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = '/content/spark-3.2.1-bin-hadoop3.2'

In [1]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

NameError: ignored

In [ ]:
#from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("civComplaints") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

In [ ]:
from pyspark.sql.functions import col

# Importing Dataset into Pyspark

In [ ]:
Fashion_df1 = spark.read.csv('/content/fashion brand details.csv', inferSchema= True ,header= True)
Fashion_df1.show()

+--------+--------------------+
|brand_id|          brand_name|
+--------+--------------------+
|       1|                 513|
|       2|                109F|
|       3|           20Dresses|
|       4|         250 Designs|
|       5|                3Pin|
|       6|       6Y Collective|
|       7|     98 Degree North|
|       8|          9Teenagain|
|       9|      A Little Fable|
|      10|            A.T.U.N.|
|      11|             Aadvika|
|      12|       Aadya Fashion|
|      13|              Aahwan|
|      14|              Aaliya|
|      15|              Aarbee|
|      16|              Aarika|
|      17|    Aarke Ritu Kumar|
|      18|                Aasi|
|      19|Aasi - House Of Nayo|
|      20|              Aasiya|
+--------+--------------------+
only showing top 20 rows


# Checking the Data type if correct

In [ ]:
Fashion_df1.printSchema()
Fashion_df1.show(5)

root
 |-- brand_id: integer (nullable = true)
 |-- brand_name: string (nullable = true)

+--------+-----------+
|brand_id| brand_name|
+--------+-----------+
|       1|        513|
|       2|       109F|
|       3|  20Dresses|
|       4|250 Designs|
|       5|       3Pin|
+--------+-----------+
only showing top 5 rows

In [ ]:
Fashion_df1.describe()

DataFrame[summary: string, brand_id: string, brand_name: string]

## Finding and counting the number of Null, None, and NaN in the DataFrame for fashion brand details dataset

In [ ]:
from pyspark.sql.functions import col,isnan,when,count
df1 = Fashion_df1.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in Fashion_df1.columns])
df1.show()
Fashion_df1.show(5)
Fashion_df1.printSchema()

+--------+----------+
|brand_id|brand_name|
+--------+----------+
|       0|         0|
+--------+----------+

+--------+-----------+
|brand_id| brand_name|
+--------+-----------+
|       1|        513|
|       2|       109F|
|       3|  20Dresses|
|       4|250 Designs|
|       5|       3Pin|
+--------+-----------+
only showing top 5 rows

root
 |-- brand_id: integer (nullable = true)
 |-- brand_name: string (nullable = true)

# Number of rows in DF

In [ ]:
print("The Number of rows in the Fashion brand details Dataset: ", Fashion_df1.count())

The Number of rows in the Fashion brand details Dataset:  1020

In [ ]:
Fashion_df1.describe().show()

+-------+-----------------+-----------------+
|summary|         brand_id|       brand_name|
+-------+-----------------+-----------------+
|  count|             1020|             1020|
|   mean|            510.5|            311.0|
| stddev|294.5929394944828|285.6711395993652|
|    min|                1|             109F|
|    max|             1020|             Zola|
+-------+-----------------+-----------------+

# Importing the Second Dataset fashion dataset.csv

In [ ]:
Fashion_df2 = spark.read.csv('/content/fashion dataset.csv', inferSchema= True ,header= True)
Fashion_df2.show(10)

+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
|    p_id|                name|price| colour|         brand|ratingCount| avg_rating|         description|        p_attributes|
+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
| 1518329|Dupatta Bazaar Wh...|  899|  White|Dupatta Bazaar|       1321|4.548826646|White embroidered...|{'Occasion': 'Dai...|
| 5829334|Roadster Women Mu...| 1199|Mustard|      Roadster|       5462|4.313255218|"Mustard yellow s...|{'Body Shape ID':...|
|10340119|Inddus Peach-Colo...| 5799|  Peach|        Inddus|        145|4.068965517|Peach-Coloured an...|{'Bottom Fabric':...|
|10856380|SASSAFRAS Women B...| 1499|  Black|     SASSAFRAS|       9124|4.147523016|"Black solid wove...|{'Add-Ons': 'NA',...|
|12384822|Kotty Women Black...| 1999|  Black|         Kotty|      12260|4.078466558|"Black dark wash ...|{'Add-Ons': 'NA',...|
|12742100|KASSUALLY Women B...| 2199|  Black|     KASSUALLY|       6297|4.349213911|Black printed bas...|{'Body or Garment...|
|13842966|Sassafras Brown &...| 1499|  Brown|     SASSAFRAS|       7358|4.395351998|<ul><li>Brown and...|{'Body Shape ID':...|
|14021452|Sera Women Multic...| 1494|  Multi|          Sera|        750|      4.288|Brown and blue pr...|{'Body or Garment...|
|14063026|Tokyo Talkies Wom...|  699|  Black| Tokyo Talkies|       1856|4.530711207|"Black solid mid-...|{'Body or Garment...|
|14324806|Anouk Stylish Bla...| 4699|  Black|         Anouk|         84| 3.80952381|Stay fashionable ...|{'Blouse Closure'...|
+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
only showing top 10 rows

# Finding and counting the number of Null, None, and NaN in the DataFrame for fashion dataset

In [ ]:
from pyspark.sql.functions import col,isnan,when,count
df2 = Fashion_df2.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in Fashion_df2.columns])
#print("The Value of Null in the dataset ",dfA2.show())
df2.show()

+----+----+-----+------+-----+-----------+----------+-----------+------------+
|p_id|name|price|colour|brand|ratingCount|avg_rating|description|p_attributes|
+----+----+-----+------+-----+-----------+----------+-----------+------------+
| 443|  33|  444|   431|  446|       8173|      8173|        443|        1619|
+----+----+-----+------+-----+-----------+----------+-----------+------------+

# The total Numbers of rows

In [ ]:
Fashion_df2.count()
print ("The total Numbers of rows is :", Fashion_df2.count())

The total Numbers of rows is : 14754

In [ ]:
Fashion_df2.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|summary|                p_id|                name|               price|              colour|               brand|         ratingCount|          avg_rating|         description|        p_attributes|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  count|               14736|               14721|               14403|               14323|               14308|                6584|                6584|               14311|               13900|
|   mean|1.5691291900496121E7|                null|  2964.1684835779174|                null|               270.6|  184.47941042394774|  4.1012258658981935|                null|                null|
| stddev|   3153525.155166516|                null|  2564.0148505973716|                null|  221.27991323208713|    782.501136511221| 0.47563329373791424|                null|                null|
|    min| The model (heigh...|            10% Silk| 'Blouse Fabric':...| 'Border': 'Printed'| 'Care for me': 'NA'| 'Multipack Set':...| 'Occasion': 'Fes...| 'Ornamentation':...| 'Pattern': 'Prin...|
|    max|Width)</p><p>Silk...|{'Bottom Fabric':...|{'Blouse': 'NA', ...|{'Blouse': 'Blous...|              zink Z|                 998|                   5|woven design lehe...|{'Pattern': 'Solid'}|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [ ]:
Fashion_df2.printSchema()
print("This is the number of Rows of the fashion dataset:", Fashion_df2.count())

root
 |-- p_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- price: string (nullable = true)
 |-- colour: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- ratingCount: string (nullable = true)
 |-- avg_rating: string (nullable = true)
 |-- description: string (nullable = true)
 |-- p_attributes: string (nullable = true)

This is the number of Rows of the fashion dataset: 14754

# Cast Datatype from to another type

In [ ]:
Fashion_df2 = Fashion_df2.withColumn("p_id", 
                                  Fashion_df2["p_id"]
                                  .cast('int'))
Fashion_df2 = Fashion_df2.withColumn("price", 
                                  Fashion_df2["price"]
                                  .cast('int'))
Fashion_df2 = Fashion_df2.withColumn("ratingCount", 
                                  Fashion_df2["ratingCount"]
                                  .cast('int'))
Fashion_df2 = Fashion_df2.withColumn("avg_rating", 
                                  Fashion_df2["avg_rating"]
                                  .cast('float'))

# Checking the result of the Data type

In [ ]:
Fashion_df2.printSchema()
print("This is the number of Rows of the fashion dataset:", Fashion_df2.count())

root
 |-- p_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- colour: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- ratingCount: integer (nullable = true)
 |-- avg_rating: float (nullable = true)
 |-- description: string (nullable = true)
 |-- p_attributes: string (nullable = true)

This is the number of Rows of the fashion dataset: 14754

This shows that the dataset fashion brand details is cleaned and no null values

# Converting the Dataframe into Table

In [ ]:
Fashion_df2.show()
Fashion_df1.show()

+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
|    p_id|                name|price| colour|         brand|ratingCount|avg_rating|         description|        p_attributes|
+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
| 1518329|Dupatta Bazaar Wh...|  899|  White|Dupatta Bazaar|       1321| 4.5488267|White embroidered...|{'Occasion': 'Dai...|
| 5829334|Roadster Women Mu...| 1199|Mustard|      Roadster|       5462| 4.3132553|"Mustard yellow s...|{'Body Shape ID':...|
|10340119|Inddus Peach-Colo...| 5799|  Peach|        Inddus|        145| 4.0689654|Peach-Coloured an...|{'Bottom Fabric':...|
|10856380|SASSAFRAS Women B...| 1499|  Black|     SASSAFRAS|       9124|  4.147523|"Black solid wove...|{'Add-Ons': 'NA',...|
|12384822|Kotty Women Black...| 1999|  Black|         Kotty|      12260| 4.0784664|"Black dark wash ...|{'Add-Ons': 'NA',...|
|12742100|KASSUALLY Women B...| 2199|  Black|     KASSUALLY|       6297|  4.349214|Black printed bas...|{'Body or Garment...|
|13842966|Sassafras Brown &...| 1499|  Brown|     SASSAFRAS|       7358|  4.395352|<ul><li>Brown and...|{'Body Shape ID':...|
|14021452|Sera Women Multic...| 1494|  Multi|          Sera|        750|     4.288|Brown and blue pr...|{'Body or Garment...|
|14063026|Tokyo Talkies Wom...|  699|  Black| Tokyo Talkies|       1856|  4.530711|"Black solid mid-...|{'Body or Garment...|
|14324806|Anouk Stylish Bla...| 4699|  Black|         Anouk|         84| 3.8095238|Stay fashionable ...|{'Blouse Closure'...|
|14955068|Roadster Women El...| 2599|  Mauve|      Roadster|        752| 4.2114363|Add a hint of dra...|{'Add-Ons': 'NA',...|
|16595858|Saree Mall Floral...| 3599|   Pink|    Saree mall|       1005| 3.9800994|Dress up or dress...|{'Blouse': 'Blous...|
|16827132|Tokyo Talkies Wom...| 1399| Maroon| Tokyo Talkies|        125|     3.912|<p>Maroon solid r...|{'Body Shape ID':...|
|17048614|Khushal K Women B...| 5099|  Black|     Khushal K|       4522|  4.418399|Black printed Kur...|{'Add-Ons': 'NA',...|
|17413232|Anubhutee Pink Et...| 1739|   Pink|     Anubhutee|        273| 4.2490845|"<ul> <li> Pink s...|{'Body or Garment...|
|18601482|MONTREZ Women Whi...| 1999|  White|       MONTREZ|         61|  4.377049|White graphic pri...|{'Add-Ons': 'NA',...|
|18841352|Styli Women Golde...| 1949|   Gold|         Styli|       null|      null|"<p>Golden sequin...|{'Add-Ons': 'NA',...|
| 8317561|Chemistry Blue De...| 1699|   Blue|     Chemistry|        900| 4.3144445|"Blue&nbsp;solid ...| 2% elastane<br>M...|
| 8340727|Inddus Women Dust...| 6549|   Pink|        Inddus|        636| 3.9858491|"Dusty Pink semi-...|{'Blouse Closure'...|
|10856322|SASSAFRAS Women B...| 1799|  Black|     SASSAFRAS|       4458|  4.478017|Black ribbed open...|{'Body or Garment...|
+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
only showing top 20 rows

+--------+--------------------+
|brand_id|          brand_name|
+--------+--------------------+
|       1|                 513|
|       2|                109F|
|       3|           20Dresses|
|       4|         250 Designs|
|       5|                3Pin|
|       6|       6Y Collective|
|       7|     98 Degree North|
|       8|          9Teenagain|
|       9|      A Little Fable|
|      10|            A.T.U.N.|
|      11|             Aadvika|
|      12|       Aadya Fashion|
|      13|              Aahwan|
|      14|              Aaliya|
|      15|              Aarbee|
|      16|              Aarika|
|      17|    Aarke Ritu Kumar|
|      18|                Aasi|
|      19|Aasi - House Of Nayo|
|      20|              Aasiya|
+--------+--------------------+
only showing top 20 rows

# Converting the Dataframe into Table in order to use SQL queries in pyspark

In [ ]:
Fashion_df1.createOrReplaceTempView("brands")

In [ ]:
Fashion_df2.createOrReplaceTempView("products")

# SQL query to joint the two table

In [ ]:
Fashion_df1.createOrReplaceTempView("brands")
Fashion_df2.createOrReplaceTempView("products")
jointtable=spark.sql("SELECT * FROM brands RIGHT JOIN products ON brands.brand_name == products.brand")

In [ ]:
jointtable.describe().show()

+-------+------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+
|summary|          brand_id|        brand_name|                p_id|                name|             price|              colour|               brand|       ratingCount|         avg_rating|         description|        p_attributes|
+-------+------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+
|  count|              8098|              8098|               14311|               14721|             14310|               14323|               14308|              6581|               6581|               14311|               13900|
|   mean| 524.4328229192394|             270.6|1.5691291900496121E7|                null|2964.1684835779174|                null|               270.6|184.47941042394774|  4.101225865084682|                null|                null|
| stddev|299.71677626472217|221.27991323208713|   3153525.155166516|                null|2564.0148505973716|                null|  221.27991323208713|  782.501136511221|0.47563329661941994|                null|                null|
|    min|                 1|              109F|               70166|            10% Silk|               169| 'Border': 'Printed'| 'Care for me': 'NA'|                 1|                1.0| 'Ornamentation':...| 'Pattern': 'Prin...|
|    max|              1017|            Zivame|            19415760|{'Bottom Fabric':...|             47999|{'Blouse': 'Blous...|              zink Z|             21274|                5.0|woven design lehe...|{'Pattern': 'Solid'}|
+-------+------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+

In [ ]:
jointtable.printSchema()

root
 |-- brand_id: integer (nullable = true)
 |-- brand_name: string (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- colour: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- ratingCount: integer (nullable = true)
 |-- avg_rating: float (nullable = true)
 |-- description: string (nullable = true)
 |-- p_attributes: string (nullable = true)

# Joint table convert to pandas

In [ ]:
convert2_DF = jointtable.toPandas()
print(convert2_DF)

       brand_id         brand_name        p_id  \
0         242.0     Dupatta Bazaar   1518329.0
1         750.0           Roadster   5829334.0
2         389.0             Inddus  10340119.0
3           NaN               None  10856380.0
4         482.0              Kotty  12384822.0
...         ...                ...         ...
14749     880.0  The Chennai Silks  17029604.0
14750     471.0        Kinder Kids  17600212.0
14751       NaN               None  18159266.0
14752       NaN               None  18921114.0
14753       NaN               None  19361058.0

                                                    name   price     colour  \
0       Dupatta Bazaar White Embroidered Chiffon Dupatta   899.0      White
1      Roadster Women Mustard Yellow Solid Hooded Swe...  1199.0    Mustard
2      Inddus Peach-Coloured & Beige Unstitched Dress...  5799.0      Peach
3                SASSAFRAS Women Black Parallel Trousers  1499.0      Black
4      Kotty Women Black Wide Leg High-Rise Clean Loo...  1999.0      Black
...                                                  ...     ...        ...
14749  The Chennai Silks Pink & Silver-Toned Floral Z...  3999.0       Pink
14750  Kinder Kids Girls Blue & Green Printed Foil Pr...  2050.0       Blue
14751  KLOTTHE Women Green & Black Floral Printed Pal...  1659.0      Green
14752             InWeave Women Red Printed A-Line Skirt  2399.0        Red
14753      BoStreet Women Navy Blue Tapered Fit Trousers  2599.0  Navy Blue

                   brand  ratingCount  avg_rating  \
0         Dupatta Bazaar       1321.0    4.548827
1               Roadster       5462.0    4.313255
2                 Inddus        145.0    4.068965
3              SASSAFRAS       9124.0    4.147523
4                  Kotty      12260.0    4.078466
...                  ...          ...         ...
14749  The Chennai Silks          NaN         NaN
14750        Kinder Kids          NaN         NaN
14751            KLOTTHE          NaN         NaN
14752            InWeave          NaN         NaN
14753           BoStreet          NaN         NaN

                                             description  \
0      White embroidered&nbsp;dupattaChiffon<br>Hand-...
1      "Mustard yellow solid sweatshirt, has a hood, ...
2      Peach-Coloured and beige woven design unstitch...
3      "Black solid woven high-rise parallel trousers...
4      "Black dark wash 4-pocket high-rise jeans, cle...
...                                                  ...
14749  <b>Design Details </b><ul><li>Pink and silver-...
14750  Blue and green printed lehenga choli,  has foi...
14751  <ul> <li> Green and black woven palazzos </li>...
14752  "<p>Red printed A-line skirt, has drawstring c...
14753  <ul> <li> Navy blue knitted trousers </li> <li...

                                            p_attributes
0      {'Occasion': 'Daily', 'Pattern': 'Embroidered'...
1      {'Body Shape ID': '443,424,324', 'Body or Garm...
2      {'Bottom Fabric': 'Cotton Blend', 'Bottom Patt...
3      {'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod...
4      {'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo...
...                                                  ...
14749  {'Better Cotton Initiative': 'Regular', 'Blous...
14750  {'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot...
14751  {'Body or Garment Size': 'To-Fit Denotes Body ...
14752  {'Add-Ons': 'NA', 'Body Shape ID': '324,333,42...
14753  {'Add-Ons': 'NA', 'Body Shape ID': '443,333,42...

[14754 rows x 11 columns]

# Writing to CSV

In [ ]:
convert2_DF.to_csv("/content/fashionnew5.csv")

In [ ]:
#spark.sql("select * from brands limit 10").show()

In [ ]:
#spark.sql("SELECT * FROM products ").show()

# Pyspark sql  to change the header name using SQL quaries .

In [ ]:
df2.printSchema()

root
 |-- p_id: long (nullable = false)
 |-- name: long (nullable = false)
 |-- price: long (nullable = false)
 |-- colour: long (nullable = false)
 |-- brand: long (nullable = false)
 |-- ratingCount: long (nullable = false)
 |-- avg_rating: long (nullable = false)
 |-- description: long (nullable = false)
 |-- p_attributes: long (nullable = false)

In [ ]:
df2.show()

+----+----+-----+------+-----+-----------+----------+-----------+------------+
|p_id|name|price|colour|brand|ratingCount|avg_rating|description|p_attributes|
+----+----+-----+------+-----+-----------+----------+-----------+------------+
|  18|  33|  351|   431|  446|       8170|      8170|        443|        1619|
+----+----+-----+------+-----+-----------+----------+-----------+------------+

In [ ]:
df1=spark.sql("SELECT brand_id, LOWER(brand_name) AS brand FROM brands")

In [ ]:
df1.show(12)
df1.printSchema()

# Joining the Two Dataset Fashion brand detail as df1 and Fashion dataset as df2

In [ ]:
Fashion_df1.createOrReplaceTempView("brands")
Fashion_df2.createOrReplaceTempView("products")
j1=spark.sql("SELECT * FROM brands RIGHT JOIN products ON brands.brand_name == products.brand")

# Using pyspark function as Union

In [ ]:
df2.join(df1,df2.brand ==  df1.brand,"rightouter") \
   .show(10)

+----+----+-----+------+-----+-----------+----------+-----------+------------+--------+---------------+
|p_id|name|price|colour|brand|ratingCount|avg_rating|description|p_attributes|brand_id|          brand|
+----+----+-----+------+-----+-----------+----------+-----------+------------+--------+---------------+
|null|null| null|  null| null|       null|      null|       null|        null|       1|            513|
|null|null| null|  null| null|       null|      null|       null|        null|       2|           109f|
|null|null| null|  null| null|       null|      null|       null|        null|       3|      20dresses|
|null|null| null|  null| null|       null|      null|       null|        null|       4|    250 designs|
|null|null| null|  null| null|       null|      null|       null|        null|       5|           3pin|
|null|null| null|  null| null|       null|      null|       null|        null|       6|  6y collective|
|null|null| null|  null| null|       null|      null|       null|        null|       7|98 degree north|
|null|null| null|  null| null|       null|      null|       null|        null|       8|     9teenagain|
|null|null| null|  null| null|       null|      null|       null|        null|       9| a little fable|
|null|null| null|  null| null|       null|      null|       null|        null|      10|       a.t.u.n.|
+----+----+-----+------+-----+-----------+----------+-----------+------------+--------+---------------+
only showing top 10 rows

In [ ]:
Joined_df=df2.join(df1,df2.brand ==  df1.brand,"rightouter")

In [ ]:
Joined_df.show()

+----+----+-----+------+-----+-----------+----------+-----------+------------+--------+--------------------+
|p_id|name|price|colour|brand|ratingCount|avg_rating|description|p_attributes|brand_id|               brand|
+----+----+-----+------+-----+-----------+----------+-----------+------------+--------+--------------------+
|null|null| null|  null| null|       null|      null|       null|        null|       1|                 513|
|null|null| null|  null| null|       null|      null|       null|        null|       2|                109f|
|null|null| null|  null| null|       null|      null|       null|        null|       3|           20dresses|
|null|null| null|  null| null|       null|      null|       null|        null|       4|         250 designs|
|null|null| null|  null| null|       null|      null|       null|        null|       5|                3pin|
|null|null| null|  null| null|       null|      null|       null|        null|       6|       6y collective|
|null|null| null|  null| null|       null|      null|       null|        null|       7|     98 degree north|
|null|null| null|  null| null|       null|      null|       null|        null|       8|          9teenagain|
|null|null| null|  null| null|       null|      null|       null|        null|       9|      a little fable|
|null|null| null|  null| null|       null|      null|       null|        null|      10|            a.t.u.n.|
|null|null| null|  null| null|       null|      null|       null|        null|      11|             aadvika|
|null|null| null|  null| null|       null|      null|       null|        null|      12|       aadya fashion|
|null|null| null|  null| null|       null|      null|       null|        null|      13|              aahwan|
|null|null| null|  null| null|       null|      null|       null|        null|      14|              aaliya|
|null|null| null|  null| null|       null|      null|       null|        null|      15|              aarbee|
|null|null| null|  null| null|       null|      null|       null|        null|      16|              aarika|
|null|null| null|  null| null|       null|      null|       null|        null|      17|    aarke ritu kumar|
|null|null| null|  null| null|       null|      null|       null|        null|      18|                aasi|
|null|null| null|  null| null|       null|      null|       null|        null|      19|aasi - house of nayo|
|null|null| null|  null| null|       null|      null|       null|        null|      20|              aasiya|
+----+----+-----+------+-----+-----------+----------+-----------+------------+--------+--------------------+
only showing top 20 rows

# Merger cannot be used in this case of joining this data

In [ ]:
merged_df= df2.unionByName(df1,allowMissingColumns=True)
merged_df.show(5)

# The Joined_df is converted into Table called fashion

In [ ]:
Joined_df.createOrReplaceTempView("fashion")

# Using SQL to do Data Cleaning on the Fashion Table

In [ ]:
spark.sql("SELECT * FROM fashion").show()

In [ ]:
#spark.sql(SELECT brand_id from brands LEFT JOIN products ON brands.brand_id = products.brand)

In [ ]:
spark.sql("SELECT * FROM fashion WHERE brand_id IS NULL").show(12)

## Converting the file to pandas

In [ ]:
Joined_df.show()

# Converting the the Pyspark to pandas

In [ ]:
convert_DF = Joined_df.toPandas()
print(convert_DF)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Write the Dataframe to CSV file

In [ ]:

# Write DataFrame to CSV File with Default params.
convert_DF.to_csv("/content/fashionnew.csv")