# **Installing PySpark on Google Colab.**

In [4]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=8ffd1dce88af7e6c1b944a69513ae8c1f250645517f332385826c3d56cd4428d
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

# Creating a Spark session

In [6]:
from pyspark.sql import SparkSession# Create a Spark Session
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Starting Spark Session Information

In [7]:
spark

In [8]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

In [9]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("civComplaints") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

In [56]:
#d#f2 = spark.read.csv(path="/content/fashion dataset.csv", header=True)
#df2 = spark.read.csv.format.load(path="/content/fashion dataset.csv", header=True)
#display(df2)
#df2.printSchema()
#df2.show()

DataFrame[p_id: string, name: string, price: string, colour: string, brand: string, ratingCount: string, avg_rating: string, description: string, p_attributes: string]

root
 |-- p_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- price: string (nullable = true)
 |-- colour: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- ratingCount: string (nullable = true)
 |-- avg_rating: string (nullable = true)
 |-- description: string (nullable = true)
 |-- p_attributes: string (nullable = true)

+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
|    p_id|                name|price| colour|         brand|ratingCount| avg_rating|         description|        p_attributes|
+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
| 1518329|Dupatta Bazaar Wh...|  899|  White|Dupatta Bazaar|       1321|4.548826646|White embroidered...|{'Occasion': 'Dai...|
| 5829334|Roadster Women Mu...| 1199|Mustard|      Roadster|       5462|4.313255218|"Mustard yellow s...|{'Body Shape ID':...|
|10340119|Inddus Peach-Colo...| 5799|  Peach|        Inddus|        145|4.068965517|Peach-Coloured an...|{'Bottom Fabric':...|
|10856380|SASSAFRAS Women B...| 1499|  Black|     SASSAFRAS|       9124|4.147523016|"Black solid wove...|{'Add-Ons': 'NA',...|
|12384822|Kotty Women Black...| 1999|  Black|         Kotty|      12260|4.078466558|"Black dark wash ...|{'Add-Ons': 'NA',...|
|12742100|KASSUALLY Women B...| 2199|  Black|     KASSUALLY|       6297|4.349213911|Black printed bas...|{'Body or Garment...|
|13842966|Sassafras Brown &...| 1499|  Brown|     SASSAFRAS|       7358|4.395351998|<ul><li>Brown and...|{'Body Shape ID':...|
|14021452|Sera Women Multic...| 1494|  Multi|          Sera|        750|      4.288|Brown and blue pr...|{'Body or Garment...|
|14063026|Tokyo Talkies Wom...|  699|  Black| Tokyo Talkies|       1856|4.530711207|"Black solid mid-...|{'Body or Garment...|
|14324806|Anouk Stylish Bla...| 4699|  Black|         Anouk|         84| 3.80952381|Stay fashionable ...|{'Blouse Closure'...|
|14955068|Roadster Women El...| 2599|  Mauve|      Roadster|        752| 4.21143617|Add a hint of dra...|{'Add-Ons': 'NA',...|
|16595858|Saree Mall Floral...| 3599|   Pink|    Saree mall|       1005|3.980099502|Dress up or dress...|{'Blouse': 'Blous...|
|16827132|Tokyo Talkies Wom...| 1399| Maroon| Tokyo Talkies|        125|      3.912|<p>Maroon solid r...|{'Body Shape ID':...|
|17048614|Khushal K Women B...| 5099|  Black|     Khushal K|       4522|4.418398939|Black printed Kur...|{'Add-Ons': 'NA',...|
|17413232|Anubhutee Pink Et...| 1739|   Pink|     Anubhutee|        273|4.249084249|"<ul> <li> Pink s...|{'Body or Garment...|
|18601482|MONTREZ Women Whi...| 1999|  White|       MONTREZ|         61| 4.37704918|White graphic pri...|{'Add-Ons': 'NA',...|
|18841352|Styli Women Golde...| 1949|   Gold|         Styli|       null|       null|"<p>Golden sequin...|{'Add-Ons': 'NA',...|
| 8317561|Chemistry Blue De...| 1699|   Blue|     Chemistry|        900|4.314444444|"Blue&nbsp;solid ...| 2% elastane<br>M...|
| 8340727|Inddus Women Dust...| 6549|   Pink|        Inddus|        636|3.985849057|"Dusty Pink semi-...|{'Blouse Closure'...|
|10856322|SASSAFRAS Women B...| 1799|  Black|     SASSAFRAS|       4458|4.478017048|Black ribbed open...|{'Body or Garment...|
+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
only showing top 20 rows

In [57]:
#df1 = spark.read.format('csv').load(path='/content/fashion brand details.csv', header= True)
#display(df1)
#df1.printSchema()
#df1.show(5)

DataFrame[brand_id: string, brand_name: string]

root
 |-- brand_id: string (nullable = true)
 |-- brand_name: string (nullable = true)

+--------+-----------+
|brand_id| brand_name|
+--------+-----------+
|       1|        513|
|       2|       109F|
|       3|  20Dresses|
|       4|250 Designs|
|       5|       3Pin|
+--------+-----------+
only showing top 5 rows

In [11]:
from pyspark.sql.functions import col

# Importing Dataset into Pyspark

In [12]:
Fashion_df1 = spark.read.csv('/content/fashion brand details.csv', inferSchema= True ,header= True)
Fashion_df1.show()

+--------+--------------------+
|brand_id|          brand_name|
+--------+--------------------+
|       1|                 513|
|       2|                109F|
|       3|           20Dresses|
|       4|         250 Designs|
|       5|                3Pin|
|       6|       6Y Collective|
|       7|     98 Degree North|
|       8|          9Teenagain|
|       9|      A Little Fable|
|      10|            A.T.U.N.|
|      11|             Aadvika|
|      12|       Aadya Fashion|
|      13|              Aahwan|
|      14|              Aaliya|
|      15|              Aarbee|
|      16|              Aarika|
|      17|    Aarke Ritu Kumar|
|      18|                Aasi|
|      19|Aasi - House Of Nayo|
|      20|              Aasiya|
+--------+--------------------+
only showing top 20 rows


# Checking the Data type if correct

In [16]:
Fashion_df1.printSchema()
Fashion_df1.show()

root
 |-- brand_id: integer (nullable = true)
 |-- brand_name: string (nullable = true)

+--------+--------------------+
|brand_id|          brand_name|
+--------+--------------------+
|       1|                 513|
|       2|                109F|
|       3|           20Dresses|
|       4|         250 Designs|
|       5|                3Pin|
|       6|       6Y Collective|
|       7|     98 Degree North|
|       8|          9Teenagain|
|       9|      A Little Fable|
|      10|            A.T.U.N.|
|      11|             Aadvika|
|      12|       Aadya Fashion|
|      13|              Aahwan|
|      14|              Aaliya|
|      15|              Aarbee|
|      16|              Aarika|
|      17|    Aarke Ritu Kumar|
|      18|                Aasi|
|      19|Aasi - House Of Nayo|
|      20|              Aasiya|
+--------+--------------------+
only showing top 20 rows

In [15]:
Fashion_df1.describe()

DataFrame[summary: string, brand_id: string, brand_name: string]

## Find and Count of Null, None, NaN value in All DataFrame Columns for fashion brand details dataset

In [18]:
from pyspark.sql.functions import col,isnan,when,count
df1 = Fashion_df1.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in Fashion_df1.columns])
df1.show()
Fashion_df1.show(5)
Fashion_df1.printSchema()

+--------+----------+
|brand_id|brand_name|
+--------+----------+
|       0|         0|
+--------+----------+

+--------+-----------+
|brand_id| brand_name|
+--------+-----------+
|       1|        513|
|       2|       109F|
|       3|  20Dresses|
|       4|250 Designs|
|       5|       3Pin|
+--------+-----------+
only showing top 5 rows

root
 |-- brand_id: integer (nullable = true)
 |-- brand_name: string (nullable = true)

# Number of rows in DF

In [19]:
print("The Number of rows in the Fashion brand details Dataset: ", Fashion_df1.count())

The Number of rows in the Fashion brand details Dataset:  1020

In [20]:
Fashion_df1.describe().show()

+-------+-----------------+-----------------+
|summary|         brand_id|       brand_name|
+-------+-----------------+-----------------+
|  count|             1020|             1020|
|   mean|            510.5|            311.0|
| stddev|294.5929394944828|285.6711395993652|
|    min|                1|             109F|
|    max|             1020|             Zola|
+-------+-----------------+-----------------+

# Importing the Second Dataset fashion dataset.csv

In [21]:
Fashion_df2 = spark.read.csv('/content/fashion dataset.csv', inferSchema= True ,header= True)
Fashion_df2.show(10)

+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
|    p_id|                name|price| colour|         brand|ratingCount| avg_rating|         description|        p_attributes|
+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
| 1518329|Dupatta Bazaar Wh...|  899|  White|Dupatta Bazaar|       1321|4.548826646|White embroidered...|{'Occasion': 'Dai...|
| 5829334|Roadster Women Mu...| 1199|Mustard|      Roadster|       5462|4.313255218|"Mustard yellow s...|{'Body Shape ID':...|
|10340119|Inddus Peach-Colo...| 5799|  Peach|        Inddus|        145|4.068965517|Peach-Coloured an...|{'Bottom Fabric':...|
|10856380|SASSAFRAS Women B...| 1499|  Black|     SASSAFRAS|       9124|4.147523016|"Black solid wove...|{'Add-Ons': 'NA',...|
|12384822|Kotty Women Black...| 1999|  Black|         Kotty|      12260|4.078466558|"Black dark wash ...|{'Add-Ons': 'NA',...|
|12742100|KASSUALLY Women B...| 2199|  Black|     KASSUALLY|       6297|4.349213911|Black printed bas...|{'Body or Garment...|
|13842966|Sassafras Brown &...| 1499|  Brown|     SASSAFRAS|       7358|4.395351998|<ul><li>Brown and...|{'Body Shape ID':...|
|14021452|Sera Women Multic...| 1494|  Multi|          Sera|        750|      4.288|Brown and blue pr...|{'Body or Garment...|
|14063026|Tokyo Talkies Wom...|  699|  Black| Tokyo Talkies|       1856|4.530711207|"Black solid mid-...|{'Body or Garment...|
|14324806|Anouk Stylish Bla...| 4699|  Black|         Anouk|         84| 3.80952381|Stay fashionable ...|{'Blouse Closure'...|
+--------+--------------------+-----+-------+--------------+-----------+-----------+--------------------+--------------------+
only showing top 10 rows

# Find and Count of Null, None, NaN value in All DataFrame Columns for fashion dataset

In [22]:
from pyspark.sql.functions import col,isnan,when,count
df2 = Fashion_df2.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in Fashion_df2.columns])
#print("The Value of Null in the dataset ",dfA2.show())
df2.show()

+----+----+-----+------+-----+-----------+----------+-----------+------------+
|p_id|name|price|colour|brand|ratingCount|avg_rating|description|p_attributes|
+----+----+-----+------+-----+-----------+----------+-----------+------------+
|  18|  33|  351|   431|  446|       8170|      8170|        443|        1619|
+----+----+-----+------+-----+-----------+----------+-----------+------------+

# The total Numbers of rows

In [23]:
Fashion_df2.count()
print ("The total Numbers of rows is :", Fashion_df2.count())

The total Numbers of rows is : 14754

In [143]:
Fashion_df2.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|summary|                p_id|                name|               price|              colour|               brand|         ratingCount|          avg_rating|         description|        p_attributes|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  count|               14736|               14721|               14403|               14323|               14308|                6584|                6584|               14311|               13900|
|   mean|1.5691291900496121E7|                null|  2964.1684835779174|                null|               270.6|  184.47941042394774|  4.1012258658981935|                null|                null|
| stddev|   3153525.155166516|                null|  2564.0148505973716|                null|  221.27991323208713|    782.501136511221| 0.47563329373791424|                null|                null|
|    min| The model (heigh...|            10% Silk| 'Blouse Fabric':...| 'Border': 'Printed'| 'Care for me': 'NA'| 'Multipack Set':...| 'Occasion': 'Fes...| 'Ornamentation':...| 'Pattern': 'Prin...|
|    max|Width)</p><p>Silk...|{'Bottom Fabric':...|{'Blouse': 'NA', ...|{'Blouse': 'Blous...|              zink Z|                 998|                   5|woven design lehe...|{'Pattern': 'Solid'}|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [24]:
Fashion_df2.printSchema()
print("This is the number of Rows of the fashion dataset:", Fashion_df2.count())

root
 |-- p_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- price: string (nullable = true)
 |-- colour: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- ratingCount: string (nullable = true)
 |-- avg_rating: string (nullable = true)
 |-- description: string (nullable = true)
 |-- p_attributes: string (nullable = true)

This is the number of Rows of the fashion dataset: 14754

# Cast Datatype from to another type

In [25]:
Fashion_df2 = Fashion_df2.withColumn("p_id", 
                                  Fashion_df2["p_id"]
                                  .cast('int'))
Fashion_df2 = Fashion_df2.withColumn("price", 
                                  Fashion_df2["price"]
                                  .cast('int'))
Fashion_df2 = Fashion_df2.withColumn("ratingCount", 
                                  Fashion_df2["ratingCount"]
                                  .cast('int'))
Fashion_df2 = Fashion_df2.withColumn("avg_rating", 
                                  Fashion_df2["avg_rating"]
                                  .cast('float'))

# Checking the result of the Data type

In [26]:
Fashion_df2.printSchema()
print("This is the number of Rows of the fashion dataset:", Fashion_df2.count())

root
 |-- p_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- colour: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- ratingCount: integer (nullable = true)
 |-- avg_rating: float (nullable = true)
 |-- description: string (nullable = true)
 |-- p_attributes: string (nullable = true)

This is the number of Rows of the fashion dataset: 14754

This shows that the dataset fashion brand details is cleaned and no null values

# Converting the Dataframe into Table

In [27]:
Fashion_df2.show()
Fashion_df1.show()

+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
|    p_id|                name|price| colour|         brand|ratingCount|avg_rating|         description|        p_attributes|
+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
| 1518329|Dupatta Bazaar Wh...|  899|  White|Dupatta Bazaar|       1321| 4.5488267|White embroidered...|{'Occasion': 'Dai...|
| 5829334|Roadster Women Mu...| 1199|Mustard|      Roadster|       5462| 4.3132553|"Mustard yellow s...|{'Body Shape ID':...|
|10340119|Inddus Peach-Colo...| 5799|  Peach|        Inddus|        145| 4.0689654|Peach-Coloured an...|{'Bottom Fabric':...|
|10856380|SASSAFRAS Women B...| 1499|  Black|     SASSAFRAS|       9124|  4.147523|"Black solid wove...|{'Add-Ons': 'NA',...|
|12384822|Kotty Women Black...| 1999|  Black|         Kotty|      12260| 4.0784664|"Black dark wash ...|{'Add-Ons': 'NA',...|
|12742100|KASSUALLY Women B...| 2199|  Black|     KASSUALLY|       6297|  4.349214|Black printed bas...|{'Body or Garment...|
|13842966|Sassafras Brown &...| 1499|  Brown|     SASSAFRAS|       7358|  4.395352|<ul><li>Brown and...|{'Body Shape ID':...|
|14021452|Sera Women Multic...| 1494|  Multi|          Sera|        750|     4.288|Brown and blue pr...|{'Body or Garment...|
|14063026|Tokyo Talkies Wom...|  699|  Black| Tokyo Talkies|       1856|  4.530711|"Black solid mid-...|{'Body or Garment...|
|14324806|Anouk Stylish Bla...| 4699|  Black|         Anouk|         84| 3.8095238|Stay fashionable ...|{'Blouse Closure'...|
|14955068|Roadster Women El...| 2599|  Mauve|      Roadster|        752| 4.2114363|Add a hint of dra...|{'Add-Ons': 'NA',...|
|16595858|Saree Mall Floral...| 3599|   Pink|    Saree mall|       1005| 3.9800994|Dress up or dress...|{'Blouse': 'Blous...|
|16827132|Tokyo Talkies Wom...| 1399| Maroon| Tokyo Talkies|        125|     3.912|<p>Maroon solid r...|{'Body Shape ID':...|
|17048614|Khushal K Women B...| 5099|  Black|     Khushal K|       4522|  4.418399|Black printed Kur...|{'Add-Ons': 'NA',...|
|17413232|Anubhutee Pink Et...| 1739|   Pink|     Anubhutee|        273| 4.2490845|"<ul> <li> Pink s...|{'Body or Garment...|
|18601482|MONTREZ Women Whi...| 1999|  White|       MONTREZ|         61|  4.377049|White graphic pri...|{'Add-Ons': 'NA',...|
|18841352|Styli Women Golde...| 1949|   Gold|         Styli|       null|      null|"<p>Golden sequin...|{'Add-Ons': 'NA',...|
| 8317561|Chemistry Blue De...| 1699|   Blue|     Chemistry|        900| 4.3144445|"Blue&nbsp;solid ...| 2% elastane<br>M...|
| 8340727|Inddus Women Dust...| 6549|   Pink|        Inddus|        636| 3.9858491|"Dusty Pink semi-...|{'Blouse Closure'...|
|10856322|SASSAFRAS Women B...| 1799|  Black|     SASSAFRAS|       4458|  4.478017|Black ribbed open...|{'Body or Garment...|
+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
only showing top 20 rows

+--------+--------------------+
|brand_id|          brand_name|
+--------+--------------------+
|       1|                 513|
|       2|                109F|
|       3|           20Dresses|
|       4|         250 Designs|
|       5|                3Pin|
|       6|       6Y Collective|
|       7|     98 Degree North|
|       8|          9Teenagain|
|       9|      A Little Fable|
|      10|            A.T.U.N.|
|      11|             Aadvika|
|      12|       Aadya Fashion|
|      13|              Aahwan|
|      14|              Aaliya|
|      15|              Aarbee|
|      16|              Aarika|
|      17|    Aarke Ritu Kumar|
|      18|                Aasi|
|      19|Aasi - House Of Nayo|
|      20|              Aasiya|
+--------+--------------------+
only showing top 20 rows

In [28]:
Fashion_df1.show()

+--------+--------------------+
|brand_id|          brand_name|
+--------+--------------------+
|       1|                 513|
|       2|                109F|
|       3|           20Dresses|
|       4|         250 Designs|
|       5|                3Pin|
|       6|       6Y Collective|
|       7|     98 Degree North|
|       8|          9Teenagain|
|       9|      A Little Fable|
|      10|            A.T.U.N.|
|      11|             Aadvika|
|      12|       Aadya Fashion|
|      13|              Aahwan|
|      14|              Aaliya|
|      15|              Aarbee|
|      16|              Aarika|
|      17|    Aarke Ritu Kumar|
|      18|                Aasi|
|      19|Aasi - House Of Nayo|
|      20|              Aasiya|
+--------+--------------------+
only showing top 20 rows

# Convert the Dataframe into Table in order to use SQL queries in pyspark

# Creating Table From DataFrame

In [29]:
Fashion_df1.createOrReplaceTempView("brand")

In [30]:
Fashion_df2.createOrReplaceTempView("products")

In [35]:
spark.sql("select * from brand limit 10").show()

+--------+---------------+
|brand_id|     brand_name|
+--------+---------------+
|       1|            513|
|       2|           109F|
|       3|      20Dresses|
|       4|    250 Designs|
|       5|           3Pin|
|       6|  6Y Collective|
|       7|98 Degree North|
|       8|     9Teenagain|
|       9| A Little Fable|
|      10|       A.T.U.N.|
+--------+---------------+

In [37]:
spark.sql("select * from products limit 10").show()

+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
|    p_id|                name|price| colour|         brand|ratingCount|avg_rating|         description|        p_attributes|
+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+
| 1518329|Dupatta Bazaar Wh...|  899|  White|Dupatta Bazaar|       1321| 4.5488267|White embroidered...|{'Occasion': 'Dai...|
| 5829334|Roadster Women Mu...| 1199|Mustard|      Roadster|       5462| 4.3132553|"Mustard yellow s...|{'Body Shape ID':...|
|10340119|Inddus Peach-Colo...| 5799|  Peach|        Inddus|        145| 4.0689654|Peach-Coloured an...|{'Bottom Fabric':...|
|10856380|SASSAFRAS Women B...| 1499|  Black|     SASSAFRAS|       9124|  4.147523|"Black solid wove...|{'Add-Ons': 'NA',...|
|12384822|Kotty Women Black...| 1999|  Black|         Kotty|      12260| 4.0784664|"Black dark wash ...|{'Add-Ons': 'NA',...|
|12742100|KASSUALLY Women B...| 2199|  Black|     KASSUALLY|       6297|  4.349214|Black printed bas...|{'Body or Garment...|
|13842966|Sassafras Brown &...| 1499|  Brown|     SASSAFRAS|       7358|  4.395352|<ul><li>Brown and...|{'Body Shape ID':...|
|14021452|Sera Women Multic...| 1494|  Multi|          Sera|        750|     4.288|Brown and blue pr...|{'Body or Garment...|
|14063026|Tokyo Talkies Wom...|  699|  Black| Tokyo Talkies|       1856|  4.530711|"Black solid mid-...|{'Body or Garment...|
|14324806|Anouk Stylish Bla...| 4699|  Black|         Anouk|         84| 3.8095238|Stay fashionable ...|{'Blouse Closure'...|
+--------+--------------------+-----+-------+--------------+-----------+----------+--------------------+--------------------+

# end